<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu= "m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <h2>Selecciona un Tema:</h2>
  <div class="color-wheel">
  <div 
    class="color-slice" 
    *ngFor="let color of colors; let i = index"
    [style.background]="color"
    [style.transform]="getSliceTransform(i, colors.length)"
    (click)="setColor(color)">
  </div>
</div>

</ion-content>
