<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu= "m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="content">
  <ion-label>Selecciona un Tema:</ion-label>
  <div class="color-wheel">
    <div 
      class="color-slice" 
      *ngFor="let color of colors; let i = index"
      [style.background]="color"
      [style.transform]="getSliceTransform(i, colors.length)"
      (click)="setColor(color)">
    </div>
  </div>

  <!--Agregar funcionalidad-->>
  <ion-item>
    <ion-label>Idioma:</ion-label>
    <ion-select [value]="selectedLanguage" (ionChange)="changeLanguage($event)">
      <ion-select-option value="es">Español</ion-select-option>
      <ion-select-option value="en">English</ion-select-option>
    </ion-select>
  </ion-item>
</ion-content>
