.content{
  margin: 2rem 1rem !important;
}

.div-content{
  padding: 2rem 10px;
}

.color-wheel {
  position: relative;
  width: 200px;
  height: 200px;
  margin: 2rem auto;
  border-radius: 50%;
  justify-content: center;
  align-items: center;
  display: flex;
}

.color-slice {
  position: absolute;
  width: 40px;
  height: 40px;
  border: 1px solid black;
  border-radius: 50%;
  cursor: pointer;
  transition: transform 0.2s;
}

.color-slice:hover {
  transform: scale(1.2) !important;
  z-index: 10;
}
