  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu= "m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>

<ion-content class="content" [fullscreen]="true">
  <div class="div-content">
    <!--div class="div-user">
      <ion-icon name="person-circle-outline" style="font-size:32px; margin-right:8px;"></ion-icon>
      <ion-label style="font-size:14px;">
        {{ user?.username || 'Invitado' }}
      </ion-label>
    </div-->
    <ion-label>Selecciona un Tema:</ion-label>
    <div class="color-wheel">
      <div 
        class="color-slice" 
        *ngFor="let color of colors; let i = index"
        [style.background]="color"
        [style.transform]="getSliceTransform(i, colors.length)"
        (click)="setColor(color)">
      </div>
    </div>

    <ion-item lines="none">
      <ion-label>Intensidad:</ion-label>
      <ion-range 
        min="-100" 
        max="100" 
        step="1" 
        [(ngModel)]="intensity"
        (ionChange)="adjustIntensity()"
        pin="true">
      </ion-range>
    </ion-item>
  
    <!--Agregar funcionalidad-->
    <ion-item>
      <ion-label>Idioma:</ion-label>
      <ion-select [(ngModel)]="selectedLanguage" (ionChange)="changeLanguage($event)">
        <ion-select-option value="es">Español</ion-select-option>
        <ion-select-option value="en">Ingles</ion-select-option>
      </ion-select>
    </ion-item>
  </div>
</ion-content>
