<ion-content class="ion-padding login-content" fullscreen>
  <div class="login-wrapper">
    <ion-card class="login-card">
      <ion-card-header>
        <ion-card-title class="ion-text-center">Bienvenido</ion-card-title>
        <ion-card-subtitle class="ion-text-center">
          Ingresa para continuar
        </ion-card-subtitle>
      </ion-card-header>

      <ion-card-content>
        <form>
          <ion-item>
            <ion-label position="floating">Usuario</ion-label>
            <ion-input type="text" [(ngModel)]="email" name="email"></ion-input>
          </ion-item>

          <ion-item>
            <ion-label position="floating">Contraseña</ion-label>
            <ion-input type="password" [(ngModel)]="password" name="password"></ion-input>
          </ion-item>
          
          <ion-note color="danger" *ngIf="errorMessage">
            {{ errorMessage }}
          </ion-note>

          <ion-button expand="block" class="ion-margin-top" color="primary" (click)="loginUser()">
            Ingresar
          </ion-button>
        </form>
        <p (click)="goBack()" class="cancel">
          Cancelar
        </p>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
