<ion-app>
  <!-- Split Pane: el menú se mantiene abierto en tablet o más grande -->
  <ion-split-pane contentId="main" when="md">

    <!-- Menú lateral -->
    <ion-menu side="start" menuId="m1" contentId="main">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menú</ion-title>
        </ion-toolbar>
      </ion-header>

      <ion-content class="menu-content">
        <ion-menu-toggle auto-hide="false">
          <ion-button expand="block" fill="outline" class="btn-menu" [routerLink]="['/index']">
            <ion-icon name="home-outline" slot="start"></ion-icon>
            Home
          </ion-button>

          <ion-button expand="block" fill="outline" class="btn-menu" [routerLink]="['/settings']">
            <ion-icon name="settings-outline" slot="start"></ion-icon>
            Settings
          </ion-button>
        </ion-menu-toggle>
      </ion-content>
    </ion-menu>

    <!-- Contenedor principal de la app -->
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
