.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%;
  padding: 20px;
}

.close-icon{
  padding: 10px;
  position: absolute;
  top: 15px;
  left: 15px;
  font-size: 1.8rem;
  z-index: 10;
}

.close-abs {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 10;
}


.modal-content ion-img {
  width: 90%;
  max-width: 350px;
  height: auto;
  object-fit: contain;
  border-radius: 10px;
  margin-bottom: 1rem;
}

.modal-content h2 {
  font-size: 1.4rem;
  margin-top: 15px;
}

.btn-modal-icon {
  position: absolute;
  bottom: 70px;
  right: 20px;
  font-size: 1.6rem;
}
