/* Cambiar tipografía del menú */
.menu-toolbar {
  font-family: 'Poppins', sans-serif; /* Puedes usar Google Fonts */
  font-size: 1.2rem;
  font-weight: 600;
  text-align: center;
}

/* Fondo y estilo del contenido */
.menu-content {
  font-family: 'Poppins', sans-serif;
  --padding-start: 0;
  --padding-end: 0;
}

/* Eliminar líneas entre los items */
ion-list {
  --ion-item-border-color: transparent;
  --border-style: none;
}

ion-item {
  --inner-border-width: 0;
  --border-width: 0;
  --border-color: transparent;
  --background: transparent;
}



