<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button menu="m1"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <!-- Categorías -->
  <div class="categorias">
    <ion-chip 
      *ngFor="let category of categories" 
      (click)="selectCategory(category)" 
      [color]="selectedCategory === category ? 'primary' : 'medium'">
      <ion-label>{{ category }}</ion-label>
    </ion-chip>
  </div>

  <!-- Tarjetas -->
  <ion-grid>
    <ion-row>
      <ion-col size="6" size-md="4" *ngFor="let card of cards">
        <ion-card class="card-container"
          *ngIf="!selectedCategory || card.category === selectedCategory"
          (click)="openModal(card)">
          
          <ion-card-header>
            <ion-img [src]="card.image"></ion-img>
          </ion-card-header>

          <ion-card-content class="description">
            {{ card.description }}
          </ion-card-content>

          <!-- botón favorito SIN bloquear el click de la card -->
          <ion-button fill="clear" class="btn-fav" (click)="toggleFav(card); $event.stopPropagation();">
            <ion-icon
              [name]="card.fav ? 'heart' : 'heart-outline'"
              [color]="card.fav ? 'danger' : 'medium'">
            </ion-icon>
          </ion-button>

        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

  <!-- MODAL -->
  <ion-modal [isOpen]="isModalOpen" (didDismiss)="closeModal()">
    <ng-template>
      <ion-buttons slot="start" class="close-icon">
        <ion-button (click)="closeModal()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
      
      <div class="modal-content">
        <ion-img [src]="selectedCard?.image"></ion-img>
        <h2>{{ selectedCard?.description }}</h2>

        <ion-button fill="clear" class="btn-modal-icon">
          <ion-icon name="volume"></ion-icon>
        </ion-button>
      </div>
    </ng-template>
  </ion-modal>

</ion-content>
