.placeholder-card {
  min-height: 220px; // altura simulada
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  transition: transform 0.2s ease;
}

.placeholder-card:hover {
  transform: translateY(-4px);
}

.placeholder-block {
  background-color: #e0e0e0;
  height: 20px;
  margin-bottom: 10px;
  border-radius: 6px;
}

.placeholder-block.short {
  width: 60%;
}

.card-container {
  width: 160px;
  height: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* separa imagen y descripción */
  position: relative;

  /* animación al hacer click */
  transition: transform 0.15s ease, box-shadow 0.15s ease;

  &:active {
    transform: scale(0.95);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
}

.card-container ion-card-header {
  flex-grow: 1; /* hace que la imagen use el espacio disponible */
}

.card-container ion-img {
  height: 100%;
}

.card-container .description {
  text-align: center;
  font-size: 14px;
  padding: 8px;
  margin-bottom: 1rem;
  flex-shrink: 0; /* evita que se comprima */
}

.btn-fav {
  position: absolute;
  bottom: 0;   /* distancia desde abajo */
  right: 0;    /* distancia desde la derecha */
  z-index: 10;
  transition: transform 0.2s ease, color 0.2s ease;
}

.btn-fav ion-icon {
  font-size: 20px;
}

.description{
  text-align: center;
}

.categorias {
  display: flex;
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
  padding: 0.5rem 1rem;
  gap: 0.5rem;
  -webkit-overflow-scrolling: touch; /* Scroll suave en iOS */
  scroll-behavior: smooth;
}

ion-chip {
  flex: 0 0 auto;
  background: var(--ion-color-light);
  border-radius: 16px;
}

.card-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  gap: 12px;
  justify-items: center;
}

.card-item {
  width: 100%;
  transition: all 0.3s ease;
}


.card-modal {
  --width: 90%;
  --height: 80%;
  --border-radius: 20px;
}

.modal-content {
  display: flex;
  flex-direction: column; /* ✅ ORGANIZA EN COLUMNA */
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100%; /* ✅ OBLIGA A USAR TODA LA ALTURA DEL MODAL */
  padding: 20px; /* ✅ SEPARACIÓN */
  //border-radius: 40px solid black;
}

.close-icon{
  padding: 10px;
}

.modal-content ion-img {
  width: 90%;
  max-width: 350px; /* ✅ QUE NO SE PASE EN PANTALLAS GRANDES */
  height: auto;
  object-fit: contain;
  margin-bottom: 1rem;
}

.modal-content h2 {
  font-size: 1.4rem;
  margin: 10px 0 20px 0;
}

.btn-modal-icon {
  position: absolute;
  bottom: 90px;   /* ✅ visible sin tapar imagen */
  right: 20px;
  font-size: 20px;
}


/* Ajustes visuales según pantalla */
@media (min-width: 768px) {
  ion-card.placeholder-card {
    min-height: 260px; // un poco más grande en tablet
  }
}
